* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body.fondo {
    background-image: url('img/mono.jpeg');
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
}

h1 {
    font-size: 150px;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 40px;
}

p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    font-family: sans-serif;
}

#cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;          
    text-align: center;
    color: rgb(206, 206, 206);
    min-height: 100vh;            
}

ul li a {
    text-decoration: none;
    color: rgb(206, 206, 206); 
}

ul {
    list-style: none;  
    display: flex; 
    gap: 20px;
}

#cuerpo li a:hover {
    color: grey;
    transition: 0.5s;
}

#redes ul {
    padding-top: 35px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.fondo {
    background-image: url('img/mono.jpeg');
    background-size: cover;     
    background-position: center;  
    background-repeat: no-repeat;
    height: 100vh;                
    overflow: hidden;             
}

#cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(206, 206, 206);
    height: 100%;                 /* Que ocupe todo el body */
}

/*NOSOTROS*/
nav ul li a {
    text-decoration: none;
    color: blue;
    padding-bottom: 10px;
}

footer ul li a {
    border-radius: 50%;
    padding: 4px;
    background-color: black;
    color: white;
}


nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 45px;
    text-align: center;
    z-index: 1000; 
}


body {
    padding-top: 120px; 
}

nav ul li a.active {
    border-bottom: 3px solid rgb(150, 12, 12); 
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

nav ul li a {
    display: flex;          
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    white-space: normal;    
}

h2.titulo2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 35px;
    font-size: 30px;
}

#todo {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

article img, aside img, header img {
    max-width: 100%; 
    display: block;
    margin: auto;
}

h2.subtitulo {
    padding: 15px;
    font-size: 30px;
    border-bottom: 1px solid black;
    margin: 5px;
}

p.lorem1 {
    font-size: 18px;
    text-align: justify;
    color: rgb(202, 135, 35);
    margin-top: 40px;
}

#img {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

#img img {
    max-width: 49%;
    height: auto; 
}

main {
    padding-top:250px ;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto 1fr;   
    grid-template-areas:
        "titulo titulo"
        "contenido publicidad";
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    min-width: 700px;
}

.titulo1 { 
    grid-area: titulo; 
    text-align: center; 
}

aside h2 {
    padding: 15px;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    padding-bottom: 20px;
}

aside img {
    width: 100%;       
    max-width: 300px;  
    height: auto; 
}

#todo {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

h2.titulo2 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 35px;
  font-size: 30px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

aside {
  text-align: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

aside img {
  max-width: 100%;
  height: auto;
}

footer h2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 15px;
}

footer ul {
    justify-content: center;
    margin-top: 15px;
}

footer {
  margin-bottom: 500px;
}
/*Blog*/

nav ul li a.pollito {
    border-bottom: 3px solid rgb(150, 12, 12); 
}

#cuerpopie {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 20px; 
    padding: 0 20px;    
    box-sizing: border-box;
    text-align: center;
    display: block;      
}


#cuerpopie img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


#espacio {
    height: 90px;
    width: 100%;;
    box-sizing: border-box;

}
#cuerpopie {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    margin-top: calc(10vh + 45px); 
}

.textoconimagen1 {
    display: flex;
    align-items: center;        
    justify-content: center;
    padding: 10px;
    position: relative;
}

.textoconimagen1 h2 {
    text-align: center;          
    flex: 1;                     
}

.textoconimagen1 img {                
    width: 100px;  
    height: auto; 
    border-radius:50%;            
}
.dos{
text-align: center;
color: orangered;
}
.float img{
    float: left;
    margin-right: 10px;
}
.textoconimagen2{
    text-align: justify;
}
.bloquedetexto {
    margin: 20px auto;           
    width: 100%;                
    max-width: 1200px;          
    padding: 20px;              
    box-sizing: border-box;  
}
.textoconimagen2 p{
    font-size: 15px;
    color: rgb(165, 87, 42);
}

.float::after {
  content: "";
  display: block;
  clear: both;          
}
.textoconimagen1 p{
    font-size: 18px;
}
.textoconimagen1{
    
    margin-top: -25px;
}
.textoconimagen1 h2{
    font-size: 35px;
}
#pie{
    padding-top: 180px;
}
#pie ul{
justify-content: center;
padding: 20px ;
    margin: 20px auto;           
    width: 100%;                
    max-width: 1200px;                       
    box-sizing: border-box; 
}
#pie p{
font-size: 15px;
    color: rgb(165, 87, 42);
    margin: 20px auto;           
    width: 100%;                
    max-width: 1200px;          
    padding: 20px;              
    box-sizing: border-box; 
}
#pie ul li a {
  display: grid;
  place-items: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: black;
  color: white;
}
/*Galeria*/
nav ul li a.galery {
    border-bottom: 3px solid rgb(150, 12, 12); 
}
#barriguita{
justify-content: center;
padding: 0 5px 220px 5px;
    margin: 230px auto;           
    width: 100%;                
    max-width: 1200px;                       
    box-sizing: border-box; 
}
.fotos{
    
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding: 20px;
}
.fotos img{
display: inline-block;
    width: 300px;
    margin: 10px; 
    box-shadow: 5px 5px 15px black;
    opacity: 0.8;
}
.fotos img:hover{
    opacity: 1;
    transition: all 0.5s;
}

.arriba, .abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  padding: 50px;
}

.arriba div, .abajo div {
  text-align: center;
}
#vacio{
    margin: 700px;
}
#TODITITO p{
    color: rgb(114, 96, 61);
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
/*Videos*/
nav ul li a.videote {
    border-bottom: 3px solid rgb(150, 12, 12); 
}
#cuerpecito{
justify-content: center;
padding: 0 5px 220px 5px;
    margin: 230px auto;           
    width: 100%;                
    max-width: 1200px;                       
    box-sizing: border-box;
}
#VIDEOS h2{
    text-align: center;
    font-size: 30px;
}
#VIDEOS{
    text-align: center;
}
.video2{
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
     
}
.video2 iframe {
position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%
}
.video1{
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    
}
.video1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%;
}

.video1,
.video2 {
    margin-bottom: 40px;
    box-shadow: 5px 5px 15px black;
    border: 3px groove grey; 
}

#VIDEOS p,h3{
    text-align: justify;
    color: rgb(114, 96, 61) ;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
#VIDEOS p{
    font-size: 20px;
    
}
/*Contactos*/
nav ul li a.done{
    border-bottom: 3px solid rgb(150, 12, 12); 
}
.panza{
justify-content: center;
padding: 0 30px 70px 30px;
    margin: 230px auto;           
    width: 100%;                
    max-width: 1200px;                       
    box-sizing: border-box; 
   background: linear-gradient(
    135deg, 
    rgb(85, 86, 138) 0%, 
    rgb(85, 57, 128) 40%, 
    rgb(28, 11, 41) 70%, 
    rgb(2, 2, 24) 100%
);

}
table {
    border-collapse: collapse;       
    border: 2px solid white;  
    text-align: center;
           
}
.tabla{
    padding: 0 60px;
}
td, th {
    border: 1px solid white;        
    padding: 8px ;
    
}
th{
    background-color: black;
    color: white;
}
#correotabla{
    display: flex;
    justify-content: center;
    
}
.correo{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.tabla,.correo{
    margin: 20px auto;
    flex: 1;
    flex-direction: column; 
    display: flex;
    max-width: 500px; 
   
}
input {
    margin-right: 180px;
    
}
textarea{
    margin-right: 180px; 
    height: 120px;
}
.correo,input,label,textarea{
    width: 80%;          
    margin-left: auto;   
    margin-right: auto;  
    box-sizing: border-box;
    
}
#botones .btn{
    margin: 0 50px;             
    height: 40px;             
    font-size: 16px;
}
.image{
    justify-content: center;
    display: flex;
    padding: 20px;
}
img{
    border: white solid 7px;
}
#pie, Contactos{
    margin-top:-190px ;
    padding-bottom: 1000px;
}
#mapa{
    text-align: center;
}
#mapa h2{
    background-color: black;
    color: white;
    margin: 0 70px;
    padding: 10px;
}
#mapita{
margin-top: 20px;

}
#correotabla {
    flex-wrap: wrap; 
}

.tabla, .correo {
    min-width: 300px; 
}
